#setDateRangeForm{
    background-color: #0a949a;
    background-color: #0a949a;
    margin: 30px auto;
    margin-bottom: 10px;
    padding: 10px;
    width: 350px;
    border-radius: 10px;
    border: 3px solid white;
    font-size: 18px;
}
form {
    display: block;
    margin-top: 0em;
}
#setDateRangeList{
    list-style: none;
    margin-bottom: 15px;

    border-radius: 10px;
    padding: 15px;
}
section .Category .CategoryColumn .CategoryRow li {
    background-color: #818181;
    border-radius: 10px;
}
#balanceWindow {
    height: 120px;
    width: 100%;
    margin: 0 auto 20px auto;
    border-radius: 10px;
    border: 2px solid white;
    font-size: 25px;
    line-height: 200%;
    text-align: center;
    padding: 0 10px;
}
#piechar_3d {
    height: 440px;
    width: 100%;
    margin: 20px 0;
    border: 3px solid white;
}

section .row .Category .CategoryHeader {
    background-color: #d18700;
}